body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
}

bodyBold {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: black;
}

.center {
    margin: auto;
    width: 80%;
    border: none;
}

.section {
    background: #0071cf;
    color: #ffffff;
    font-size: 1.3em;
    padding-left: 5px;
}

.sectionContent {
    border-width: 1px;
    border-color: #0071cf;
    border-style: solid;
    padding-left: 3px;
    margin-bottom: 10px;
}

#title {
    text-align: center;
    font-size: 1.5em;
}

#logo {
    text-align: center;
}

a.standard:link {
    color: #0071cf;
    text-decoration: none
}

a.standard:active {
    color: #0071cf;
    text-decoration: none
}

a.standard:visited {
    color: #0071cf;
    text-decoration: none
}

a.standard:hover {
    color: #ff0000;
    text-decoration: underline;
}

table, th, tr, td {
	border-style: solid;
	border-color: #e9e9e9;
	border-collapse: collapse;
	border-width: 1px;
}

td.instance {
	color: #0071cf;
}

td.numeric {
	text-align: right;
}

th, tr, td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

th {
	text-align: left;
}

table {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 3px;
}


